{% extends "sdg_site/base.html" %}
{% load static %}
{% block content %}
<main class="content">
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">Results DataTables</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{{ goallist }}</h5>
                        <h6 class="card-subtitle text-muted">{{ indicatorlist }} </h6>
                    </div>
                    <div class="card-body">
                        <table id="datatables-reponsive" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Country Code</th>
                                    <th>Country Name</th>
                                    <th>Year</th>
                                    <th>Value</th>
                                    <th>Units</th>
                                    <th>Source</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for i, r in df.iterrows %}
                            	<tr>
                                    <td>{{ r.geoAreaCode }}</td>
                                    <td>{{ r.geoAreaName }}</td>
                                    <td>{{ r.timePeriodStart }}</td>
                                    <td>{{ r.value }}</td>
                                    <td>{{ r.valueType }}</td>
                                    <td>{{ r.source }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}